ul.tabs_nav {
     list-style: none;
     padding: 0;
 }
.tabs_nav li {
    display: inline;
    float: left;
    border: 1px solid #2ecc71;
    background-color: black;
    padding: 5px;
    cursor: pointer;
}
.tabs_nav li.active {
    border-bottom: 1px solid #2ecc71;
    background-color: black;
}
.tabs_nav a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
    color: #2ecc71;
}
.tabs_content {
    clear: both;
    border-top: 1px solid #2ecc71;
    padding: 20px;
    background-color: black;
}
