ul.tabs_nav {
     list-style: none;
     padding: 0;
 }
.tabs_nav li {
    display: inline;
    float: left;
    border-left-style: solid;
    border-left-color: #2ecc71;
    border-left-width: 1px;

    border-right-style: solid;
    border-right-color: #2ecc71;
    border-right-width: 1px;

    border-top-style: solid;
    border-top-color: #2ecc71;
    border-top-width: 1px;
    border-bottom: none;

    background-color: black;
    padding: 5px;
    cursor: pointer;
}
.tabs_nav li.active {
    background-color: black;
}
.tabs_nav a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
    color: #2ecc71;
}
.tabs_nav li.active a {
    color: white;
}
.tabs_content {
    clear: both;
    padding: 20px;
    background-color: black;
}
